<h1>New Question</h1>
<%= form_for(@question) do |f| %>
  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p>

  <p>
    <%= f.label :one %><br>
    <%= f.text_area :one %>
  </p>

  <p>
    <%= f.label :two %><br>
    <%= f.text_area :two %>
  </p>

  <p>
    <%= f.label :three %><br>
    <%= f.text_area :three %>
  </p>

  <p>
    <%= f.label :four %><br>
    <%= f.text_area :four %>
  </p>

  <p>
    <%= f.label :answer %><br>
    <%= f.text_area :answer %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
